.container {
  width: 45%;
  height: 70%;
  background-color: #3A6D8C;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px #EAD8B1;
  -moz-box-shadow: 0px 0px 10px -5px #EAD8B1;
  box-shadow: 0px 0px 10px -5px #EAD8B1;
}

.container .playersInfo-container {
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

.container .activePlayer {
  border: 1px solid #EAD8B1;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 10px -5px #001f3f;
  -moz-box-shadow: 0px 5px 10px -5px #001f3f;
  box-shadow: 0px 5px 10px -5px #001f3f;
}

.playersInfo-container .palyerInfo-container {
  width: 50%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 25px;
}

.playersInfo-container .palyerInfo-container input {
  width: inherit;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  border-bottom: 1px solid #EAD8B1;
  padding-bottom: 5px;
  font-family: inherit;
}

.playersInfo-container .palyerInfo-container span:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  width: inherit;
}

.playersInfo-container .palyerInfo-container span:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}

.playersInfo-container .palyerInfo-container button {
  background-color: transparent;
  border: 1px solid #EAD8B1;
  color: #001F3F;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

.playGround-container {
  height: 80%;
}

.playGround-container .gameBoard-orderList {
  height: 100%;
  padding: 0;
  margin: 0;
}

.playGround-container .gameBoard-orderList .gameBoard-col {
  height: 30%;
  display: flex;
  justify-content: center;
}

.playGround-container .gameBoard-orderList .gameBoard-row {
  width: 70%;
  display: flex;
  justify-content: center;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.playGround-container .gameBoard-orderList .gameBoard-row li {
  width: 33%;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.playGround-container .gameBoard-orderList .gameBoard-row li button {
  width: 100%;
  background-color: #EAD8B1;
  border: none;
  cursor: pointer;
  margin: 1px;
  border-radius: 5px;
}

.playGround-container .gameBoard-orderList .gameBoard-row li button:hover {
  background-color: #ead8c1ab;
}

.playGround-container .gameBoard-orderList .gameBoard-row li button:disabled {
  color: black;
}

.gameOver-container {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.gameOver-container .gameOver-content {
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  background-color: #3A6D8C;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 15vh;
  bottom: 0;
  border-radius: 10px 10px 0 0;
}

.gameOver-container .gameOver-content button {
  background-color: #001F3F;
  border: 1px solid #EAD8B1;
  color: #EAD8B1;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
