.container {
  width: 45%;
  height: 70%;
  background-color: #3A6D8C;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px -5px #EAD8B1;
  -moz-box-shadow: 0px 0px 10px -5px #EAD8B1;
  box-shadow: 0px 0px 10px -5px #EAD8B1;
}

.container .playersInfo-container {
  height: fit-content;
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

.playersInfo-container .palyerInfo-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.playersInfo-container .palyerInfo-container input {
  width: inherit;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  border-bottom: 1px solid #EAD8B1;
  padding-bottom: 5px;
  font-family: inherit;
}

.playersInfo-container .palyerInfo-container span:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  width: inherit;
}

.playersInfo-container .palyerInfo-container span:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}

.playersInfo-container .palyerInfo-container button {
  background-color: transparent;
  border: 1px solid #EAD8B1;
  color: #001F3F;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}
